

.relative{
    position: relative;
}
.price-reject{
   margin-left: 0px !important;
}
.reject-line{
    position: absolute;
    height: 2px;
    background: white;
    top: 57%;
    width: 100%;
}
.reject-button {
    width: 100%;
    height: 56px;
    border-radius: 30px;
    background-color: #137c5c;
}
.emoji-container{
    height: 85px;
    width: 100%;
    position: absolute;
    bottom: 12%;
    overflow: hidden;
    background : #0a091a;
}

.emoji-scroll{
    overflow: scroll;
    height: 100%;
    display: flex;
    height: 65px;
    padding: 5px 24px;
    max-width: calc(100% - 48px);
}
@media all and (min-width: 1366px) and (max-width: 1439px) {
    .emoji-scroll {
        height: 55px;
    }
}
@media all and (min-width: 480px) {
    .emoji-scroll {
        padding: 5px 42px;
    }
}
.emoji-scroll::-webkit-scrollbar {
   display: none;
  }
.emoji-scroll img{
    padding: 0px 4px;
}
.emoji-scroll img:active{
    opacity: 0.8;
}
.reject-button-container{
    padding: 0px 24px 24px 24px;
    max-width: calc(100% - 48px);
}
.reject-button span{
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.disable-padding{
    padding-bottom: 0px;
}
@media screen and (min-width: 480px){
    .emoji-container{
        bottom: 12%;
        padding-right: 30px;
    }
    .emoji-scroll{
        margin-right: 25px;
    }
}
@media screen and (min-width: 1440px){
    .emoji-container{
        bottom: 11%;
    }
}

.absolute-background-path {
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    max-height: 500px;
  }

  .absolute-background-path img  {
    width: 170%;
    transform: translate(0, -35%);
  }
  @media all and (min-width: 480px) {
    .absolute-background-path {
      max-height: 550px;
    }
    .absolute-background-path img  {
      width: 170%;
      transform: translate(0, -35%);
    }
  }
  .rejected-screen-height{
    max-height: 300px;
}
.rejected-screen-logo{
    width: 142.4px;
    height: 43px;
    margin-bottom: 11px;
    z-index: 5;
    position: relative;
}
.rejected-screen-avatar{
    z-index: 10;
    top: 58%;
    position: absolute;
}
.rejected-screen-title{
        font-family: Nunito;
        font-size: 18px;
        line-height: 1.11;
        text-align: center;
        color: #ffffff;
        z-index: 10;
        margin-top: 8px;
}  
.rejected-screen-heading{
    min-height: 160px;
}
.rejected-screen-left-arrow{
    z-index: 10;
    left: 28px;
    top: 23%;
    position: absolute;
}
.rejected-screen-left-arrow:active{
    opacity: 0.8;
}
@media screen and (min-width: 480px){
    .rejected-screen-title{
        margin-top: 0px;
    }
    .rejected-screen-left-arrow{
        left: 42px;
        top: 29%;
    }
}
